/*
Colorblind safe color palette from colorbrewer2.org.
#dbc9e2 - cyan
#1c9099 - Light Green 
#4c79b4 - Light Blue 
*/

body {
  background-color: #dbc9e2;
  color: #1c9099;
  text-align: center;
  margin: 0;
}

h1 {
  color:#4c79b4;
}
#body-container { 

}
#header {

}
#profile-picture {

}
#welcome-text {

}
#research-interest {

}